 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(246, 248, 254);
    font-family: 'Segoe UI';
    line-height: 1.6;
    color: #333;
  }
  
  /*Home*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
  }

  header h1 {
    font-size: 2rem;
  }
  
  .logo {
    height: 70px;
    width: auto;
    padding-left: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;

  }
  nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #0077cc;
  }

   
  .banner {
    position: relative;
    background-image: url('../imagens/banner-site.png');
    background-size: cover;
    background-position: left center;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(228, 228, 228);
    text-shadow: 2px 2px 4px rgba(28, 44, 123, 0.7);
    padding: 0 5rem;
  }

  .banner-texto {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
  }
  
  .banner h1 {
    font-size: 3rem;
    margin: 0;
  
  }

  .banner p{
    font-size: 1.2rem;
    margin-top: 1rem;
    
  }


  .alerta {
    background-color: #5271ff;
    color: rgb(237, 239, 248);
    padding: 1.4rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alerta h2 {
    font-size: 1.3rem;
  }
  
  .alerta a {
    background-color: rgb(237, 239, 248);
    color: #5271ff;
    padding: 0.5rem 1.5rem;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;

  }

  .reagendamento-form input, .reagendamento-form select {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
  }

  .reagendamento-form button {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .reagendamento-form button:hover {
    background-color: #005fa3;
  }

  .reagendamento-titulo {
    text-align: center;
    font-size: 2.2rem;
    color: #0077cc;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }


  .consulta-info {
    background-color: #fff;
    padding: 2rem;
    margin-top: 1.5rem;
    border-radius: 12px;
    border: 1px solid #ddd;
  }

  .consulta {
    padding: 3rem 4rem;
    background-color: #fff;
    margin: 3rem auto;
    border-radius: 12px;
    max-width: 900px;
    box-sizing: border-box;
  }

  .consulta-titulo {
    text-align: center;
    font-size: 2.2rem;
    color: #0077cc;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .consulta-info {
    background-color: #fff;
    padding: 2rem;
    margin-top: 1.5rem;
    border-radius: 12px;
    border: 1px solid #ddd;
  }


  #passo-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 60px 0;
  }

  .passo-img {
    flex: 1 1 40%;
  }

  .passo-img img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }


  .passo-texto {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .passo-texto h2 {
    color: #2c0083; 
    font-size: 28px;
    margin-top: 120px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  #passo-texto {
    color: #3399ff; 
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px;
    white-space: pre-line; 
  }

  .passo-negrito {
    color:#4525e5; 
    font-weight: 500;
    font-size: 22px;
    display: block;
    margin-bottom: 8px;
  }

  .passo-controles {
    margin-top: 20px;
  }

  .passo-controles button {
    padding: 10px 18px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    background-color: #4525e5;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .passo-controles button:hover {
    background-color: #0066cc;
  }

  #imagem-passo {
      max-width: 300px;
      width: 100%;
      height: auto;
      display: block;
      margin: 0 0 0 10rem;
      border: none;
      outline: none;
  }

  .dicas {
    background-color: #fff;
    padding: 2rem 4rem;
    margin: 2rem;
    border-radius: 12px;
    display: flex;
    gap: 2rem;
  }

  .dicas-titulo {
    flex: 1;
    display: flex;
    align-items: center;      
    justify-content: center;  
  }

  .dicas-titulo h2 {
    font-size: 2rem;
    color: #2c0083;
    text-align: center;
  }

  .dicas-conteudo {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .dicas-conteudo li {
    background-color: #00a9a9;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    font-size: 1rem;
    color: #fff;
  }

  .dicas-titulo {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;      
    justify-content: center;  
  }

  .icone-titulo {
    width: 40px;   
    height: 40px;
    margin-bottom: 0.5rem; 
  }

  .icone-li {
    margin-right: 0.5rem;
    width: 40px;
    height: 40px;
  }


  /*FAQ*/

  .faq-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }

  .faq {
    padding: 3rem 4rem;
    background-color: #fff;
    margin: 3rem auto;
    border-radius: 12px;
    max-width: 900px;
    box-sizing: border-box;
  }

  .faq-titulo {
    text-align: center;
    font-size: 2.2rem;
    color: #0077cc;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }


  .faq-pergunta {
    background: none;
    border: none;
    color: #5271ff;
    font-size: 1.1rem;
    text-align: left;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  .faq-pergunta .seta {
    transition: transform 0.3s ease;
  }

  .faq-pergunta.ativa .seta {
    transform: rotate(180deg);
  }

  .faq-resposta {
    display: none;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    color: #333;
  }


  /*Contato*/

  .contato-titulo {
    text-align: center;
    font-size: 2.2rem;
    color: #0077cc;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .contato {
    background-color: #fff;
    padding: 3rem 5rem;
    margin: 0 2rem 4rem 2rem;
    border-radius: 12px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .contato p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #333;
    line-height: 1.6;
  }

  .formulario-contato {
    display: flex;
    flex-direction: column;
  }

  .formulario-contato label {
    margin-top: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  .formulario-contato input, .formulario-contato textarea {
    margin-top: 0.5rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }

  .formulario-contato button {
    margin-top: 2rem;
    padding: 0.8rem;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .formulario-contato button:hover {
    background-color: #005fa3;
  }

  .dados-contato {
    margin-top: 2rem;
  }

  .dados-contato ul {
    list-style: none;
    padding: 0;
  }

  .dados-contato li {
    margin-bottom: 0.8rem;
    font-size: 1rem;
  }

  .integrantes {
    padding: 4rem 5rem;
    background-color: #ffffff;
    text-align: center;
  }


  /*Quem Somos*/

  .integrantes-lista {
    display: flex;
    gap: 4rem; 
    margin-top: 2rem;
    justify-content: center; 
    flex-wrap: wrap; 
  }


  .integrantes h1 {
    font-size: 2rem;
    color: #5271ff;
    margin-bottom: 3rem;
  }

  .card-integrante {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .foto-integrante {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #5271ff;
  }

  .info-integrante {
    text-align: left;
    max-width: 300px;
  }

  .info-integrante h3 {
    font-size: 1.5rem;
    color: #2c0083;
    margin-bottom: 0.5rem;
  }

  .info-integrante p {
    margin: 0.4rem 0;
    font-size: 1rem;
  }

  .info-integrante a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
  }

  .info-integrante a:hover {
    text-decoration: underline;
  }

  footer {
    background-color: #5271ff;
    padding: 4rem;
    color: #ffffff;
    font-size: 0.9rem;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: left;
  }

  .footer-left, .footer-right {
    flex: 1;
    min-width: 250px;
  }

  .footer-logo {
    width: 120px;
    margin-bottom: 1rem;
  }

  .footer-endereco {
    margin-bottom: 1.5rem;
    line-height: 1.4;
  }

  .footer-social a {
    margin-right: 1rem;
    display: inline-block;
  }

  .footer-social img {
    width: 24px;
    height: 24px;
  }

  .footer-right h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ffffff;
  }

  .footer-right p {
    margin: 0.3rem 0;
  }



/*Responsividade*/

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 100px;
}


nav ul.active {
    display: flex;
}

/*Extra Small devices (até 600px)*/
@media (max-width: 600px) {
    .banner {
        height: 200px;
        padding: 0 1rem;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 0.9rem;
    }

    .card-integrante {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .dicas {
        flex-direction: column;
        gap: 2rem;
    }

    .dicas-conteudo {
        grid-template-columns: 1fr;
    }

    .faq, .contato, .consulta {
        padding: 2rem 1rem;
    }

    .alerta {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .alerta a {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .faq {
        padding: 2rem 1rem; 
        max-width: 90%; 
    }

    .faq-titulo {
        font-size: 1.5rem; 
        margin-top: 2rem; 
        margin-bottom: 1rem;
    }

    .contato {
        padding: 2rem 1rem; 
        max-width: 90%; 
        margin: 0 auto 2rem auto; 
    }

    .contato-titulo {
        font-size: 1.5rem; 
        margin-top: 2rem; 
        margin-bottom: 1rem;
    }

        .consulta {
        padding: 2rem 1rem; 
        max-width: 90%; 
        margin: 2rem auto; 
    }

    .consulta-titulo {
        font-size: 1.5rem; 
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .reagendamento-titulo {
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

}

/*Small devices (600px-767px)*/
@media (min-width: 600px) and (max-width: 767px) {
    .banner {
        height: 250px;
        padding: 0 2rem;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .dicas {
        flex-direction: column;
        gap: 2rem;
    }

    .dicas-conteudo {
        grid-template-columns: 1fr;
    }
}

/*Medium devices (768px-991px)*/
@media (min-width: 768px) and (max-width: 991px) {
    .banner {
        height: 300px;
        padding: 0 3rem;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .dicas-conteudo {
        grid-template-columns: 1fr 1fr;
    }
}

/*Large devices (992px-1299px)*/
@media (min-width: 992px) and (max-width: 1299px) {
    .banner {
        height: 350px;
        padding: 0 4rem;
    }

    .banner h1 {
        font-size: 3rem;
    }
}

/*Extra-Large devices (1300px e acima)*/
@media (min-width: 1300px) {
    .banner {
        height: 400px;
        padding: 0 5rem;
    }
}

/*Telas pequenas (até 800px) - geral para responsividade mobile*/
@media (max-width: 800px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #f0f0f0;
    }

    .banner-texto h1, .banner-texto p {
        background-color: rgba(34, 37, 112, 0.7);
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
    }

    #passo-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .passo-img {
        order: 4;
    }

    .passo-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .passo-texto h2 {
        order: 1;
        margin-top: 0;
        margin-bottom: 10px;
    }

    #texto-passo {
        order: 2;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .passo-controles {
        order: 3;
        margin-top: 10px;
    }

    #imagem-passo {
        margin: 0 auto;
    }

    .dicas {
        flex-direction: column;
        gap: 2rem;
    }

    .dicas-conteudo {
        grid-template-columns: 1fr;
    }
}

